<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TPW_Database" providerName="DDTek.Oracle" connectionString="TNSNames File=C:\oracle\product\10.2.0\client_1\NETWORK\ADMIN\tnsnames.ora;Data Source=ORADEV;Authentication Method=Client;Connection Timeout=600;Pooling=True;Min Pool Size=16;Max Pool Size=256;Max Pool Size Behavior=SoftCap;Initial Command Timeout=60;Application Name=TaskParallelPump"/>
		<!--<add name="TPW_Database" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Projects\DbParallel\TaskParallelFoundation\ConsoleTest\SampleDatabase\SqlServer\TaskParallelWorkflow.mdf;Integrated Security=True;User Instance=True"/>-->
	</connectionStrings>
	<appSettings>
		<add key="TPW_Package" value="XYZ.TPW_SERVICE." />
		<!--<add key="TPW_Package" value="dbo.TPW_SERVICE_" />-->
	</appSettings>
</configuration>
